.vs/MicroOndas/FileContentIndex/560fd37b-7204-412e-bf09-1a4b09f24508.vsidx
.vs/MicroOndas/v18/.futdcache.v2
.vs/MicroOndas/v18/.suo
.vs/MicroOndas/v18/DocumentLayout.backup.json
.vs/MicroOndas/v18/DocumentLayout.json
.vs/ProjectEvaluation/microondas.metadata.v10.bin
.vs/ProjectEvaluation/microondas.projects.v10.bin
.vs/ProjectEvaluation/microondas.strings.v10.bin
obj/Debug/net10.0/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
obj/Debug/net10.0/ApiEndpoints.json
obj/Debug/net10.0/apphost.exe
obj/Debug/net10.0/rbcswa.dswa.cache.json
obj/Debug/net10.0/Rodrigo-MicroOndas.assets.cache
obj/Debug/net10.0/Rodrigo-MicroOndas.csproj.FileListAbsolute.txt
obj/Debug/net10.0/staticwebassets.references.upToDateCheck.txt
obj/Debug/net10.0/staticwebassets.removed.txt
obj/Debug/net10.0/Rodrigo-MicroOndas.AssemblyInfo.cs
obj/Debug/net10.0/Rodrigo-MicroOndas.AssemblyInfoInputs.cache
obj/Debug/net10.0/Rodrigo-MicroOndas.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net10.0/Rodrigo-MicroOndas.RazorAssemblyInfo.cache
obj/Debug/net10.0/Rodrigo-MicroOndas.RazorAssemblyInfo.cs
